<%=	form_for(@lion_tamer) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :experience %><br>
    <%= f.number_field :experience, min: 0, max: 10 %>
  </div>

 <div class="field">
    <%= f.label :living %><br>
    <%= f.check_box :living %>
  </div>
	
	<p><%= f.submit %></p>
<% end %>

