<h1>New Customer Purchase</h1>

<form action="/create-customer-purchase" method="POST">
	Customer: <select name="customer">
		{{#each customers}}
			<option value="{{id}}">{{name}} id:{{id}}</option>
		{{/each}}
	</select> <br>

	Sauce: <select name="sauce">
		{{#each sauces}}
			<option value="{{id}}">{{sauce_name}} ${{price}}</option>
		{{/each}}
	</select> <br>

	<input type="text" name="quantity" placeholder="how many"> <br>

	<input type="submit" value="submit">

</form>