{{#each people}}
  {{this.name}} | {{this.definitelyBroinItUp}} | {{@key}}

  <form action="/{{@key}}" method="POST">
    <input name ="_method" type="hidden" value="DELETE">
    <button type="submit">delete this</button>
  </form>

  <a href="/edit/{{@key}}">edit</a>

  <br>
{{/each}}

<form action="/" method="POST">
  <input name="name">
  <input name="definitelyBroinItUp">
  <button type="submit">SUBMIT</button>
</form>