<div class="single box">
		<p>{{painting.title}}</p>
		<p>{{painting.year_made}}</p>
		<img src="{{painting.img_url}}" width='400' height='400'>
		<p><a href="/artists/{{artist.id}}">{{artist.name}}</a></p>
		<p><a href="/paintings/edit/{{painting.id}}">Edit Paiting</a></p>
</div>