<div class="single box">
		<p>{{title}}</p>
		<p>{{year_made}}</p>
		<img src="{{img_url}}" width='400' height='400'>
		<p><a href="/artists/{{artist_id}}">{{name}}</a></p>
		<p><a href="/paintings/edit/{{id}}">Edit Paiting</a></p>
</div>