<h2 class="movie_title" imdbID="{{imdbID}}">{{Title}}</h2>
<p>{{Type}}</p> 
<p>{{Year}}</p> 
<hr>



{{!-- <p class='description'>{{description}}</p>
<label>Mark as Done
{{#if completed }}
    <input class='checkbox' type="checkbox" checked>
{{else}}
    <input class='checkbox' type="checkbox">
{{/if}}
</label>
<p class='delete'>Delete</p> --}}