<%=	form_for(@lion) do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :birthdate %><br>
    <%= f.date_field :birthdate %>
  </div>

  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight, min: 0 %>
  </div>

  <div class="field">
    <%= f.label :about %><br>
    <%= f.text_area :about, :cols => 50, :rows => 10 %>
  </div>

  <div class="field">
    <%= f.label :health %><br>
    <%= f.number_field :health, min: 0, max: 100 %>
  </div>

  <div class="field">
    <%= f.label :health_notes %><br>
    <%= f.text_area :health_notes, :cols => 50, :rows => 10 %>
  </div>
	
	<p><%= f.submit %></p>
<% end %>



