<h2>Edit <%= @team.name %></h2>
<%=	form_for(@team) do |f| %>
	<%= f.text_field :name %>
	<%= f.text_field :photo_url %>
	<%= f.text_field :hometown %>
	<%= f.number_field :number_of_championships, min: @team.number_of_championships %>
	<%= f.submit %>
<% end %>

