<div class="post" data-id="{{id}}">
	<div class='title'><h4>{{title}}</h4></div>
	<div class='card'>
		<p>{{author}}</p>
		<div id='.image'>
			<img src="{{image}}">
		</div>
		<div id="content">
			<p>{{content}}</p>
		</div>
	</div>

	<div class='remove'>Remove</div>

	
</div>